# Core functionality - changes here should be rare!
/src/app.py                   @dalsuum
/src/backend/database.py      @dalsuum
/src/backend/routers/auth.py  @dalsuum

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dalsuum
